{% extends 'base.html' %}
{% block title %}
Войти в систему
{% endblock %}

{% block content %}
{% if form.errors %}
<p>Ваш логин или пароль не совпадают, попробуйте ещё раз.</p>
{% endif %}
{% if next %}
    {% if user.is_authenticated %}
        <p>У вас нет прав для просмотра этой страницы.</p>
    {% else %}
        <p>Войдите, чтобы видеть эту страницу.</p>
    {% endif %}
{% endif %}
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>
    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit" class="btn btn-success">Войти</button>
</form>
<br>
<p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
{% endblock %}