
<div class="card mx-auto" style="width: 45rem;" align="left"><img src="{{ post.cover.url }}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{ post.created }}</h6>
        {% if request.path == '/' %}
            <p class="card-text">{{ post.content|truncatewords:10 }}</p>
            <a href="{% url 'post-detail' post.id %}" class="card-link">Читать далее</a>
        {% else %}
            <p class="card-text">{{ post.content }}</p>
                {% if request.user.is_superuser %}
                    <form action="{% url 'post-update' post.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning">Редактировать запись</button>
                    </form>
                    <br>
                    <form action="{% url 'post-delete-accept' post.id %}" method="get">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning">Удалить запись</button>
                    </form>
                {% endif %}
        </div>
</div>

<div class="container" style="width: 45rem;" align="left">
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" id="username" name="username" value="{{ request.user }}" />
        <br>
        <label for="textInput" class="form-label">{{ form.text.label_tag }}</label>
        {{ form.text }}
        <br>
        <button type="submit">Оставить комментарий</button>
    </form>
</div>

{#<form action="" method="post" style="width: 45rem;" align="left">#}
{#    {% csrf_token %}#}
{#    <div class="mb-3">#}
{#      <label for="usernameInput" class="form-label">Имя пользователя:</label>#}
{#      <input type="text" class="form-control" id="usernameInput" name="username" required>#}
{#    </div>#}
{#    <div class="mb-3">#}
{#      <label for="textInput" class="form-label">Текст комментария:</label>#}
{#      <input type="text" class="form-control" id="textInput" name="comment_text" required>#}
{#    </div>#}
{#    <button type="submit">Оставить комментарий</button>#}
{#    <br>#}
{#</form>#}

            {% for comment in post.post_comment.all %}
                            <div class="card" style="width: 70rem;" align="left">
                                  <div class="card-header">
                                    {{ comment.username }}
                                  </div>
                          <div class="card-body">
                            <blockquote class="blockquote mb-0">
                              <p>{{ comment.text }}</p>
                              <footer class="blockquote-footer"> {{ comment.created }} </footer>
                            </blockquote>
                          </div>
                    </div>
            {% endfor %}
                <br>
        {% endif %}
</div>
